<section class="profile-main">
    <div class="container">
        <div class="profile-main__left">
            <div class="profile-main__left--item employee-manager">
                <i class="fas fa-user-alt"></i>
                Quản lí nhân viên
            </div>
            <div class="profile-main__left--item request-manager">
                <i class="fas fa-reply-all"></i>
                Quản lí các yêu cầu
            </div>
            <div class="profile-main__left--item" id="logout">
                <i class="fas fa-sign-out-alt"></i>
                Đăng xuất
            </div>
            <script>
                $("#logout").click(function () {
                    window.location.href = "/logout"
                })
            </script>
        </div>
        <div class="profile-main__right">
            <div class="tab" id="employee-manager">
                <div class="btn-add">
                    <button type="button" class="btn btn-success" data-target="#add-modal"
                        data-toggle="modal">Thêm nhân viên</button>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#</th>
                            <th scope="col" class="text-center">Tên nhân viên</th>
                            <th scope="col" class="text-center">Giới tính</th>
                            <th scope="col" class="text-center">Email</th>
                            <th scope="col" class="text-center">Ảnh</th>
                            <th scope="col" class="text-center">Chức vụ</th>
                            <th scope="col" class="text-center">Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <% users.forEach(function(user, index) { %>
                            <tr>
                                <th scope="row" class="index text-center align-middle">
                                    <%= (index + 1) %>
                                </th>
                                <td class="align-middle">
                                    <%= user.name %>
                                </td>
                                <td class="text-center gender align-middle">
                                    <%= user.gender %>
                                <td class="align-middle">
                                    <%= user.email %>
                                </td>
                                <td class="text-center align-middle"><img src="<%= user.image %>" alt="">
                                </td>
                                <td class="position align-middle">
                                    <%= user.position %>
                                </td>
                                <td class="text-center align-middle">
                                    <button type="button" class="edit-employee btn btn-sm btn-outline-primary"
                                        data-id="<%= user._id %>" <% if (user.position===0) { %> disabled
                                        style="cursor: not-allowed"<%} %>>Sửa</button>
                                    <button type="button" class="delete-employee btn btn-sm btn-outline-danger"
                                        data-id="<%= user._id %>" <% if (user.position===0) { %> disabled
                                        style="cursor: not-allowed"<%} %>>Xóa</button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>