<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mkav Tea | Trang Chủ</title>
    <link rel="shortcut icon" href="images/mkav-tea/logo_transparent.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Baloo+2:wght@600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="/styles/loading.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="scripts/index.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="header" id="header">
            <div class="container">
                <div class="nav-bar">
                    <div class="header-logo">
                        <a href="/">
                            <img src="images/mkav-tea/logo_transparent.png" alt="">
                        </a>
                    </div>
                    <ul class="menu">
                        <a href="/">
                            <li class="menu-item">Trang Chủ</li>
                        </a>
                        <a href="/order">
                            <li class="menu-item">Sản Phẩm</li>
                        </a>
                        <a href="/store">
                            <li class="menu-item">Cửa Hàng</li>
                        </a>
                        <a href="/contact">
                            <li class="menu-item">Liên Hệ</li>
                        </a>
                        <% if (!locals.user) { %>
                            <li class="btn-group">
                                <button class="btn" id="login-btn">Đăng Nhập</button>
                                <button class="btn btn-transparent" id="register-btn">Đăng Ký</button>
                            </li>
                            <% } else if (user.position==0) {%>
                                <li class="btn-group user-group">
                                    <a href="/profile/?tab=profile"><img src="<%= user.image %>" alt=""></a>
                                    <div class="dropdown">
                                        <i class="fas fa-sort-down"></i>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <i class="fas fa-user-alt"></i>
                                                <a href="/profile/?tab=profile">Thông tin tài khoản</a>
                                            </li>
                                            <li>
                                                <i class="fas fa-history"></i>
                                                <a href="/profile/?tab=history">Lịch sử mua hàng</a>
                                            </li>
                                            <li>
                                                <i class="fas fa-shopping-cart"></i>
                                                <a href="/profile/?tab=order">Đơn hàng của tôi</a>
                                            </li>
                                            <li>
                                                <i class="fas fa-sign-out-alt"></i>
                                                <a href="/user/logout">Đăng xuất</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <% } else if (user.position==6) {%>
                                    <li class="btn-group user-group">
                                        <a href="/admin/?tab=employee-manager"><img src="<%= user.image %>" alt=""></a>
                                        <div class="dropdown">
                                            <i class="fas fa-sort-down"></i>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <i class="fas fa-user-alt"></i>
                                                    <a href="/admin/?tab=employee-manager">Quản lí nhân viên</a>
                                                </li>
                                                <li>
                                                    <i class="fas fa-reply-all"></i>
                                                    <a href="/admin/?tab=request-manager">Quản lí yêu cầu</a>
                                                </li>
                                                <li>
                                                    <i class="fas fa-sign-out-alt"></i>
                                                    <a href="/user/logout">Đăng xuất</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <% } else if (user.position==1) {%>
                                        <li class="btn-group user-group">
                                            <a href="/customer-care/?tab=product-manager"><img src="<%= user.image %>"
                                                    alt=""></a>
                                            <div class="dropdown">
                                                <i class="fas fa-sort-down"></i>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <i class="fas fa-mug-hot"></i>
                                                        <a href="/customer-care/?tab=product-manager">Quản lí sản
                                                            phẩm</a>
                                                    </li>
                                                    <li>
                                                        <i class="fas fa-sign-out-alt"></i>
                                                        <a href="/user/logout">Đăng xuất</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                        <% } else if (user.position==3) {%>
                                            <li class="btn-group user-group">
                                                <a href="/salesman/?tab=order-manager"><img src="<%= user.image %>"
                                                        alt=""></a>
                                                <div class="dropdown">
                                                    <i class="fas fa-sort-down"></i>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <i class="fas fa-shopping-cart"></i>
                                                            <a href="/salesman/?tab=order-manager">Quản lí đặt hàng</a>
                                                        </li>
                                                        <li>
                                                            <i class="fas fa-sign-out-alt"></i>
                                                            <a href="/user/logout">Đăng xuất</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <% } else if (user.position==2) {%>
                                                <li class="btn-group user-group">
                                                    <a href="/shipper/?tab=shipper-manager"><img src="<%= user.image %>"
                                                            alt=""></a>
                                                    <div class="dropdown">
                                                        <i class="fas fa-sort-down"></i>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <i class="fas fa-shopping-cart"></i>
                                                                <a href="/shipper/?tab=shipper-manager">Đơn đặt hàng</a>
                                                            </li>
                                                            <li>
                                                                <i class="fas fa-sign-out-alt"></i>
                                                                <a href="/user/logout">Đăng xuất</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <% }%>

                    </ul>
                </div>
            </div>
        </header>
        <section class="section-hero">
            <div class="text-content">
                <h1>Tại sao phải giảm cân trong khi có Mkav Tea</h1>
                <div class="btn-lg-group">
                    <a href="/order" class="btn btn-lg">Đặt Ngay</a>
                    <a href="/store" class="btn btn-lg">Cửa Hàng</a>
                    </d>
                </div>
            </div>
        </section>
        <section class="section-product">
            <div class="container">
                <div class="product-header">
                    <h2>SẢN PHẨM NỔI BẬT</h2>
                    <div>
                        <img src="images/product/decor-1.png" alt="">
                    </div>
                    <img class="decor-absolute" src="images/product/decor-3.png" alt="">
                </div>
                <div class="product-list">
                    <% if (locals.products) { %>
                        <% for (let i=0; i < 8; i++) { %>
                            <div class="product">
                                <div class="product-tag">
                                    <div class="new-tag">New</div>
                                    <div class="discount-tag">
                                        <%= -100 + (products[i].oldPrice / products[i].price) * 100 %>
                                    </div>
                                </div>
                                <div class="product-img-wrap">
                                    <img class="product-img" src="<%= products[i].image %>" alt="">
                                </div>
                                <div class="product-item">
                                    <h3 class="product-title">
                                        <%= products[i].name %>
                                    </h3>
                                    <div class="product-price">
                                        <%= products[i].price %>,000đ <span>
                                                <%= products[i].oldPrice %>,000đ
                                            </span>
                                    </div>
                                    <a href="/order" class="btn btn-sm">
                                        Đặt Hàng
                                    </a>
                                </div>
                            </div>
                            <%}%>
                                <%}%>
                </div>
                <div class="product-footer">
                    <a href="/order" class="btn btn-md">
                        Xem Tất Cả
                    </a>
                </div>
            </div>
        </section>
        <section class="section-stores">
            <div class="container">
                <div class="store">
                    <div class="store-image">
                        <img src="images/store-img.jpg" alt="">
                    </div>
                    <div class="store-info">
                        <h2 class="store-header">
                            Địa Chỉ Cửa Hàng
                        </h2>
                        <p class="store-description">
                            Hãy chọn một thành phố, Mkav Tea sẽ hiển
                            thị danh sách các cửa hàng trong khu vực.
                        </p>
                        <div class="store-form">
                            <i class="fas fa-chevron-down"></i>

                            <select class="form-select">
                                <option>Chọn một Tỉnh/Thành</option>
                                <option>Phú Yên</option>
                                <option>TP HCM</option>
                                <option>Kiên Giang</option>
                                <option>Đà Nẵng</option>
                            </select>
                            <a href="/store" class="btn btn-md">Tìm cửa hàng</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="footer">
                    <div class="footer-logo">
                        <img src="images/mkav-tea/logo_transparent.png" alt="">

                    </div>
                    <div class="footer-contact">
                        <h4>Mkav Tea Việt Nam</h4>
                        <ul>
                            <li>
                                <i class="fas fa-map-marker"></i>
                                19 Nguyễn Hữu Thọ, Tân Phong, Quận 7, TP HCM
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                0865997531
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                trananhkhoa73@gmail.com
                            </li>
                            <li>
                                Số ĐKKD: 123456789. Ngày cấp: 26/10/2021
                            </li>
                            <li>
                                Nơi cấp: Thành phố Hồ Chí Minh
                            </li>
                            <li class="social-icons">
                                <a href=""><i class="fab fa-facebook-square"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-tiktok"></i></a>
                            </li>
                            <li class="footer-download">
                                <a href=""><img src="images/ggplay.png" alt=""></a>
                                <a href=""><img src="images/appstore.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h4>Về Chúng Tôi</h4>
                        <ul>
                            <a href="">
                                <li>Giới thiệu về Mkav Tea</li>
                            </a>
                            <a href="">
                                <li>Chính sách nhượng quyền</li>
                            </a>
                            <a href="">
                                <li>Tin tức khuyến mại</li>
                            </a>
                            <a href="">
                                <li>Cửa hàng</li>
                            </a>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h4>Chính Sách</h4>
                        <ul>
                            <a href="">
                                <li>Chính sách thành viên</li>
                            </a>
                            <a href="">
                                <li>Hình thức thanh toán</li>
                            </a>
                            <a href="">
                                <li>Bảo vệ thông tin cá nhân</li>
                            </a>
                            <a href="">
                                <li>Đổi trả và hoàn tiền</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <h4>Mkav Tea - Thương hiệu trà sữa sử dụng 100% nông sản Việt Nam</h4>
                    <p>Copyrights © 2021 by Mkav Tea</p>
                </div>
            </div>
        </footer>
    </div>
    <div id="loading">
        <img src="/images/loading.svg" />
    </div>

</body>

<script src="scripts/account-btn.js"></script>
<script src="scripts/handle-dropdown.js"></script>
<script src="/scripts/loading.js"></script>
<script>
    document.querySelectorAll(".discount-tag").forEach(discount => {
        discount.innerHTML = Math.round(parseFloat(discount.innerHTML.trim())) + "%"
    })
</script>

</html>